@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
    color: #000000;
    background-color: #fefefe;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
  }


.blog-link-p {
    color: #0b00a9 !important;
}

.t-pad {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.background-overlay {
    background-image: url(blog-images/dhruthi-blog-health-care-hospital-banner-image.png);
    width: 100%;
    height: 170px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-overlas {
    background-image: url(blog-images/dhruthi-blog-corona-banner-image.png);
    width: 100%;
    height: 170px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-overlayd {
    background-image: url(blog-images/dhruthi-blog-health-care-banner-image.png);
    width: 100%;
    height: 170px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-overlaid {
    background-image: url(blog-images/dhruthi-blog-health-banner-image.png);
    width: 100%;
    height: 170px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-item a:hover {
    background-color: #00A97A !important;
    color: #ffffff !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #006D95 !important;
    border-color: #fff !important;
}

/* code for card buttons */
.buttons {
    background-color: #006D95;
    width: 130px;
    height: 33px;
    transition: 2sec;
    border-style: none;
    position: absolute;
    bottom:5%;
    /* margin-left: -15px; */
    
}
/* code for card button link */
#anchor {
    color: white;
    text-decoration: none;
}

.buttons:hover {
    background-color: #04a67a;
}
/* code for 3rd card */
#card3 {
    text-transform: capitalize;
}

.card {
    border: non !important;
    position: relative;
   
}
.card .card-title{
    text-transform: capitalize !important;
    /* margin-left: -15px; */
    /* overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */
}

.card  .card-body {
    height: 150px;
}
h1 {
    font-family: 'Poppins', sans-serif !important;
    color: #006d95 !important;
    font-size: 2rem !important;
    font-weight: 700 !important;
 }

 .card-body h5 {
    font-family: 'Poppins', sans-serif !important;
    color: #006d95 !important;
    font-size: 1.2rem !important;
    font-weight: 700 !important;
 }

 .p-class h3{

    font-size:25px !important;
    color:#006da3;

 } 
 /* justify property for do regulardental cheackup blog details page */
 .doregular {
    text-align:justify;
 }


 /* marging blog coner */

 .blog-banner-img{
    display: flex !important;
    justify-content: center !important;

 }

 .blog-banner-contet{
    display: flex !important;
    justify-content: center !important;

 }

 .card-body h5 a {
    color: #006D95 !important;
    text-decoration: none;
    background-color: transparent;
}

.card-body h5 a:hover {
    color: #04A67A !important;
    /* text-decoration: none;
    background-color: transparent; */
}