/* @media (min-width: 1200px) {
    .p-class {
      margin-inline-start: 80px !important;
    }
  } */

  /* @media (min-width: 1100px) {
    .p-class {
      margin-right: 160px !important;
    }
  } */


  .p-class {
    width: 93% !important;
    /* background-color: red; */
    overflow: hidden;
}